
<nav class="navbar navbar-expand-lg navbar-transparent navbar-fixed-top " >

  <div class="container">
      <%= link_to "Home",root_path, class: "bt  btn-lg btn-success" ,id:"logo"%>
  <div class= "pull-right">
    <div class="nav_item">
        <%= link_to "Log In",new_user_session_path, class:" btn btn-default btn-warning" %> <%#we are not certain if we need to pass the current user.. or ust kavu%>
    </div>
     <div class="nav_item"> 
      <p><%= link_to "Register", new_user_registration_path, data: { confirm: "Are you sure?" },class: 'btn btn-warning btn-default' %></p>
    </div>
  </div>
  </div>
</nav>
