<%# the first parameter is the text tot be renderd on  the browser ,  %>
<%# the second iis tht prefix.. its appended with pthe prefix _path to  idicatet htt its the pah to be folowed of the route to be followed %>
<%# the third is the nethod to be followed %>
<div class="center jumbotron">

<h1> Welcome to the RoR project (recipes and chefs)</h1>
<h2>
    Hii ndio home page bro... 
</h2>
<%= link_to "Sighn Up Now", "" , class: "btn btn-lg btn-success" %>
</div>
<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">
            View dem recipes as guest user
        </h3>
        <h2 class="left"> View dem recipes as guest user and sighn up later </h2>         
       <p><%=link_to  "Browse recipe listings",recipes_path,class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            View dem recipes as guest user
        </h3>
        <h2 class="left"> View dem recipes as guest user and sighn up later </h2>         
       <p><%=link_to  "Browse recipe listings","",class: "btn btn-warning btn-small" %></p>
    </div><div class="col-lg-4">
        <h3 class="midrow">
            View dem recipes as guest user
        </h3>
        <h2 class="left"> View dem recipes as guest user and sighn up later </h2>         
       <p><%=link_to  "Browse recipe listings","",class: "btn btn-warning btn-small" %></p>
    </div>
</div>